.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
  font-size: 14px;
}

.header-left {
  flex: 0.5;
  display: flex;
  align-items: center;
  background-color: white;
  color: grey;
  border-radius: 30px;
  padding: 11px;
  min-width: 80px;
}

.header-left > input {
  border: none;
  min-width: inherit;
  margin-left: 10px;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right > span {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 700;
}
